section.sectionProductive
    .sectionProductive_container
        img(src="./assets/images/illustration-stay-productive.png", alt="person_productive").sectionProductive_container--img
    .sectionProductive_text
        h2.sectionProductive_text--title Stay productive, wherever you are
        p.sectionProductive_text--parraf 
            | Never let location be an issue where accessing 
            | your files. Fylo has you covered for all of your file 
            | storage needs. 
            br  
            br
            | Securely share files and folders with friends,
            | family and colleagues for live collaboration. No
            | email attachments required.
        br
        a(href="#").sectionProductive_text--link See how Fylo works
            <span class="iconify" data-icon="bi:arrow-right-circle-fill"></span>