section.sectionNewsletter 
    h2.sectionNewsletter_container--title Get early access today
    p.sectionNewsletter_container--parraf   
        | It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
    form.sectionNewsletter_container_email
        input(type="email",placeholder="email@example.com" required).sectionNewsletter_container_email--input
        button.button_primary Get Started For Free 
    span.validate 
        | Please enter a validate mail address