.header_nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $dark_Blue_intro;
}

.header_nav_list{
    display: flex;
    width: 100%;
    align-items: center;
}

@media(min-width: 200px) and (max-width: 1022px){

    .header{
        background-color: $dark_Blue_intro;
        padding: 10% 5%;
        display: flex;
    }

    .header_logoContainer--logo{
        height: 100%;
        width: 50%;
    }

    .header_nav_list{
        justify-content: space-between;
    }
}

@media(min-width: 1023px){
    .header_nav{ 
        padding: 73px 80px;
    }

    .header_nav_list{
        justify-content: flex-end;
    }
      
    .header_nav_list :not(:last-child) {
        padding-right: 56px;
    }
    
}
