header.header
    nav.header_nav
        a(href="/").header_nav_logoContainer
            img(src="./assets/images/logo.svg", alt="Logo").header_logoContainer--logo
        ul.header_nav_list
            li.header_nav_list--link 
                a(href="#Features") Features
            li 
                a(href="#Tem") Team 
            li
                a(href="#SignIn") Sign In



    