meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
title Fylo Dark Theme
//- Favicon
link(rel="shortcut icon", href="./images/favicon-32x32.png", type="image/x-icon")

//- Styles CSS
link(rel="stylesheet", href="./assets/css/styles.css", media="(max-width:1023px)")
//- link(rel="stylesheet", href="./assets/css/styles_tablet.css", media="(min-width:640px),(max-width:1023px" )
link(rel="stylesheet", href="./assets/css/styles_desktop.css", media="(min-width:1024px)")

//- Fonts
//- Font Raleway
link(rel="preconnect",href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap",rel="stylesheet")

//- Font Open Sans
link(rel="preconnect",href="https://fonts.gstatic.com")
link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap",rel="stylesheet")

//- Simple Line Icons
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.5.5/css/simple-line-icons.min.css")
