@import '../../../scss/variables';

.sectionComments{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 90px;
    gap: 25px;
}

.sectionComments_container{
    background-color: yelloe;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 46px 30px;
    position: relative;   
}

.sectionComments_container:first-child::before {
    content: url("../images/bg-quotes.png");
    position: absolute;
    top: -35px;
    left: -15px;
    z-index: 1;
}

.sectionComments_personContainer>img{
    width: 10%;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.sectionComments_personContainer{
    padding-top: 20px;
}

.sectionComments_personContainer--name{
    float: left;
    line-height: initial;
}

.sectionComments_personContainer--ocupation{
    float:left;
    line-height: initial;
}