section.sectionComments 
    article.sectionComments_container  
        p.sectionComments_container--parraf
            | Fylo has improved our team productivity by an order of magnifitude. Since making the swich our team has become a well-oiled collaboration machine
        .sectionComments_personContainer
            img(src="./assets/images/profile-1.jpg", alt="person")
            span.sectionComments_personContainer--name Satish Patel
            br 
            span.sectionComments_personContainer--ocupation Founder & Ceo, Haddle 
    article.sectionComments_container 
        p.sectionComments_container--parraf
            | Fylo has improved our team productivity by an order of magnifitude. Since making the swich our team has become a well-oiled collaboration machine
        .sectionComments_personContainer 
            img(src="./assets/images/profile-2.jpg", alt="person") 
            span.sectionComments_personContainer--name Bruce McKenzie
            br
            span.sectionComments_personContainer--ocupation Founder & Ceo, Haddle 
    article.sectionComments_container 
        p.sectionComments_container--parraf
            | Fylo has improved our team productivity by an order of magnifitude. Since making the swich our team has become a well-oiled collaboration machine
        .sectionComments_personContainer 
            img(src="./assets/images/profile-3.jpg", alt="person")
            span.sectionComments_personContainer--name Iva Boyd
            br
            span.sectionComments_personContainer--ocupation Founder & Ceo, Haddle