@import '../../scss/variables';

@import '../../scss/buttons';

.footer{
    background-color: $dark_Blue_footer;
    background: var(--footer-bg);
    padding: 200px 80px 80px 100px;
}

.footer_container{ 
    display: grid;
    grid-template-columns: 8fr 2fr 2fr 2fr 1fr;
    grid-template-rows: auto;
    column-gap: 60px;
    padding-top: 50px;
}


.footer_contact--img{
    margin-right: 20px;
}




.footer_social_container{
    display: flex;
    justify-content: center;
    align-items: center;

}

.footer_social_container--icon{
    border: 1px solid white;
    border-radius: 50%;
    margin: 10px;
    padding: 8px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_contact_ubication{
    display: flex;
}

.footer_contact_phone,
.footer_contact_mail{
    display: flex;
    
}

.footer_contact_phone{
    padding-bottom: 10px;
}

.footer_links_listOne,
.footer_links_listTwo{
    display: flex;
    flex-direction: column;
}

.footer_links_listOne :not(:first-child),
.footer_links_listTwo :not(:first-child){
    padding-top: 10px;
}

.icon-social-twitter:hover,
.footer_social_container--icon                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          {
    cursor: pointer;
}                                                                                                                                                                                                                                                                                                       