footer.footer
    .footer_logo
        img(src="./assets/images/logo.svg", alt="logo_footer")
    .footer_container
        .footer_contact_ubication 
            div
                img(src="./assets/images/icon-location.svg", alt="icono ubicacion").footer_contact--img
            div
                span Lorem ipsum bdolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua 
        .footer_contact_container        
            .footer_contact_phone
                div 
                    img(src="./assets/images/icon-phone.svg", alt="icono telefono").footer_contact--img
                div
                    span +1-543-123-4567
            .footer_contact_mail
                div
                    img(src="./assets/images/icon-email.svg", alt="icono email").footer_contact--img
                div
                    span example@fylo.com
        .footer_links_listOne 
                a(href="#")  About US
                a(href="#")  Jobs
                a(href="#")  Press
                a(href="#")  Blog
        .footer_links_listTwo
                a(href="#")  Contact Us
                a(href="#")  Terms
                a(href="#")  Privacy
        .footer_social
            .footer_social_container
                .footer_social_container--icon
                    i.icon-social-facebook
                        a(href="#") 
                .footer_social_container--icon
                    i.icon-social-twitter
                        a(href="#")
                .footer_social_container--icon
                    i.icon-social-instagram
                        a(href="#")