//- Section class hero
section.sectionSlide 
    img(src="./assets/images/illustration-intro.png", alt="persons").sectionSlide--image
    //- fisrt title heading
    h1.sectionSlide--title 
        | All your files in one secure location, accessible anywhere
    p.sectionSlide--parraf
        | Fylo stores all your most important files in
        | one secure location. Access them wherever 
        | you need, share and collaborate with friends.
        | family, and co-wokers. 
    br
    a(href="#").button_primary Get Started
    //- cta 