doctype html
html(lang="en")
    head
        include components/head.pug
    body
        //- Header 
        include components/header/header.pug
        main
            //- Section Slide
            include components/sections/sectionSlide/sectionSlide.pug
            //- Section Services
            include components/sections/sectionServices/sectionServices.pug
            //- Section Productive
            include components/sections/sectionProductive/sectionProductive.pug
            //- Section Comments
            include components/sections/sectionComments/sectionComments.pug
            //- Section Newsletter
            include components/sections/sectionNewsletter/sectionNewsletter.pug 
        //- Footer
        include components/footer/footer.pug
        
        //-Scripts
        //-Icons
        script(src="https://code.iconify.design/2/2.1.1/iconify.min.js")

        //-jQuery
        script(src="./assets/js/jquery.js")

        //-Custom
        script(src="./assets/js/custom.js")



        


                


        