// --------------------------- Variables ----------------------------------

// --------------------------- Colors -------------------------------------

// Primary

// intro and email sign up background

$dark_Blue_intro: hsl(217, 28%, 15%);

// main background

$dark_Blue_main: hsl(218, 28%, 13%);

// footer background

$dark_Blue_footer: hsl(216, 53%, 9%);

// testimonials background

$dark_Blue_testimonial: hsl(219, 30%, 18%);

// Accent

// inside call-to-action gradient

$cyan: hsl(176, 68%, 64%);


$blue: hsl(198, 60%, 50%);

$background: linear-gradient(to right, $cyan , $blue );

// Error
$light_Red: hsl(0, 100%, 63%);

// Neutral

$white: hsl(0, 0%, 100%);

