.sectionServices{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 94px 150px;
    margin: 130px 0;
    padding: 0 280px;
}
