section.sectionServices 
    article.sectionServices_container
        img(src="./assets/images/icon-access-anywhere.svg", alt="computer")
        h3 Access your files, anywhere 
        p 
            | The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere. 
    article.sectionServices_container
        img(src="./assets/images/icon-security.svg", alt="security")
        h3 Security you can trust
        p 
            | T2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files. 
    article.sectionServices_container
        img(src="./assets/images/icon-collaboration.svg", alt="time")
        h3 Real-time collaboration 
        p 
            | Securely share files and folders with friends, family and colleaguers for live collaboration. No email attachments required. 
    article.sectionServices_container
        img(src="./assets/images/icon-any-file.svg", alt="file")
        h3 Store any type of file
        p 
            | Whether you&#39;re sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.